<!DOCTYPE html>
<html lang="en">
<head>

	<title>England's Road to Euro 2016</title>

 href="style.css">
	
html {
	margin: auto;
	padding: 200px;
    background-color: #FF0000;
}

body { 
	font: 90% Arial;
	line-height: 1.8;
	color: #000000; 
	margin: auto;  
    background-color: #E0E0E0;
	padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;   
} 

nav ol {
    list-style-type: none;
    width: 700px;
    margin: auto;
    text-align: centre;
    background-color: #B2C2B2;
    border-radius: 15px;
    position:
}

nav ol li {
    display: inline;
    margin: 20px;
}
    
nav ol li a {
    text-decoration: none;
    color: black;
    font-family: Ariel, sans-serif;
    font-size: 26px;
}
    
nav ol li a:hover {
    text-decoration: none;
    color: #997A3D;
    font-family: arial, sans-serif;
}

img {
    border-radius: 15px;
    float:
    padding-left: 5px;
}

h1 {
    font: italic normal 1.8em Arial, sans-serif;
    letter-spacing: 2px;
    margin-bottom: 1;
    color: #997A3D;
}
    
h2 {
    font: italic normal 1.8em Arial, sans-serif;
    letter-spacing: 2px;
    margin-bottom: 1;
    color: #997A3D;
}
    
h3 {
    font: italic normal 1.8em Arial, sans-serif;
    letter-spacing: 2px;
    margin-bottom: 1;
    color: #997A3D;
}
     
p { 
	margin-top: left; 
	text-align: justify;
    padding: left;
	}

.table, th, td {
    border: 2px solid grey;
    border-collapse: collapse;
    text-align: center;
    
}
th, td {
    padding: 8px;
    right: 0;
    float: up;
}

. footer {
    font: 10px Ariel;
    padding-left: 300px;
    list-style-type: none;
}